<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student System</title>
</head>
<body>
<h1>Students List</h1>
<a href="/add"> + Add Student</a>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Grade</th>
        <th>Actions</th>
    </tr>
    {% for s in students %}
    <tr>
        <td>{{ s[0]  }}</td>
        <td>{{ s[1]  }}</td>
        <td>{{ s[2]  }}</td>
        <td>{{ s[3]  }}</td>
        <td>
            <a href="/delete/{{  s[0]  }}">Delete</a>
            <a href="/update/{{  s[0]  }}">Update</a>
        </td>
    </tr>
    {% endfor %}
</table>

</body>
</html>